/*ヘッダー設定*/
header {
    font-size: 20px;
    height: 95px;
}
/*背景色設定*/
body {
    background-color: #EEEEEE;
}
header .square_btn {
    margin-right: 80px;
    font-size: 35px;
    width: 180px;
}
.file_acquisition {
    margin : auto;
    width: 970px;
    height: 500px;
}

.box {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid;
    width: 60%;
    height: 360px;
    padding: 5px 10px;
    text-decoration: none;
    min-height: 30px;
    min-width: 400px;
    display: inline-block;
    position: relative;
    top: -107px;
}
.box .select_btn{
    font-size: 30;
    width: 300;
    height: 50;
}
.sub_content {
	text-align: center;
    background-color: #FFFFFF;
    width: 30%;
    height: 360px;
    border: 2px solid;
    padding: 5px 10px;
    text-decoration: none;
    margin: 5% 0 0 4%;
    display: inline-block;
}
.sub_content table{
	text-aling: center;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.sub_content thead, tbody {
	table-layout: fixed;
    border: 1px solid;
    text-align: center;
}
.sub_content tbody{
	height: 332px;
	text-align: center;
	overflow-y: scroll;
	min-height: 360px;
    min-width: 290px;
}
.sub_content tr{
	display: table-row;
	vertical-align: inherit;
}
.download_file {
    font-size: 50px;
    position: center;
}
.button1 {
    font-size: 30px;
    margin: 30px;
    padding: 1px;
    text-align: center
}
input[type=text] {
    width: 300px;
    height: 50px;
    font-size: 30px;
}
.margin_bottom {
    width: 100%;
}
.under_margin {
	width: 50%;
    float: left;
}
.download_margin {
    width: 50%;
    float : left;
}
.square_btn {
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad7;
    background: #e1f3ff;
    transition: .4s;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}